*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}

div{
    margin: auto;
    width: 700px;
    background: lightblue;
    text-align: center;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px black;
}

h1{
    padding-top: 50px;
    padding-bottom: 20px ;
    font-size: 40px;
}

button{
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    background: blue;
    color: antiquewhite;
    padding: 10px;
}

p{
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 50px;
}